demo
*.DS_Store
user-feedback/
wp-includes
wp-includes/*
.htaccess*
*~
phpinfo.php
splash.gif
test.php
upload/
wp-config-old.php
wp-config.php
wp-content/uploads
wp-content/.git
wp-content/w3tc-*
wp-content/plugins/*/cache/*
wp-content/blogs.dir
wp-content/plugins
wp-content/themes/*
wp-content/themes-ai1ec/
wp-content/themes-ai1ec/*
!wp-content/themes/handy
sftp-config*
wp-admin
wp-admin/*
