<div id="dynamic">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="ajaxSecond">
        <thead>
        <tr>
            <th width="">Id</th><!--Hidden-->
            <th width="">Date</th>
            <th width="">Time</th>
            <th width="">Ip</th>
            <th width="">Flag</th>
            <th width="">Region</th>
            <th width="">City</th>
            <th width="">Domain</th>
            <th width="">Page</th>
            <th width=""></th>
            <th width="">OS</th>
            <th width=""></th>
            <th width="">Browser<br/>Engine</th>
            <th width="">Version<br/>Number</th>
            <th width="">Feed</th>
            <th width="">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="18" class="dataTables_empty">Loading data from server</td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>